{% extends 'mastrooms/base.html' %}
{% load static %}
{% block title %}
<title>{{ room.name }} | Mastrooms | Hostels in Kota | Rooms in Kota | Kota Hostels</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'mastrooms/css/room_detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mastrooms/css/room_detail_responsive.css' %}">
{% endblock %}
{% block nav %}
<li><a href="{% url 'register_property' %}"><i class="fas fa-home"></i> Register Property</a></li>
<li><a href="{% url 'rooms' %}"><i class="fas fa-search"></i> Search Rooms</a></li>
<li><a href="{% url 'about_us' %}"><i class="fas fa-bullhorn"></i> About Us</a></li>
{% endblock %}
{% block content %}
<div class="home">
<div class="breadcrumbs_container">
<div class="container">
<div class="row">
<div class="col">
<div class="breadcrumbs">
<ul>
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'rooms' %}">Rooms</a></li>
<li>{{ room.name }}</li>
</ul>
</div>
</div>
</div>
</div>
</div>			
</div>
<!-- Course -->
<div class="course">
<div class="container">
<div class="row">
<!-- Course -->
<div class="col-lg-12">
<div class="course_container">
<!-- Course Image -->
<div class="course_image"><img src="{% static 'mastrooms/images/display_room.jpeg' %}" alt="This image is shy in nature :)"></div>
<!-- Course Tabs -->
<div class="course_tabs_container">
<div class="tabs d-flex flex-row align-items-center justify-content-start">
<div class="tab active">About</div>
<div class="tab">Amenities</div>
<div class="tab">Description</div>
</div>
<div class="tab_panels">
<!-- Description -->
<div class="tab_panel active">
<div class="tab_panel_content">
<div class="tab_panel_section">
<ul class="tab_panel_bullets">
<li>Name : {{ room.name }}</li>
<li>Rent : {{ room.rent }}</li>
<li>Address : {{ room.house_number }},{{ room.address }}</li>
<li>Occupancy : {{ room.occupancy }}</li>
<li>Category : {{ room.category }} </li>
<li>Landmark : {{ room.landmark }} </li>
</ul>
</div>
</div>
</div>
<!-- Curriculum -->
<div class="tab_panel tab_panel_2">
<div class="tab_panel_content">
<div class="dropdown_item_text">
<p>{{ room.other_amenities }}</p>
</div>
</div>
</div>
<!-- Reviews -->
<div class="tab_panel tab_panel_2">
<div class="tab_panel_content">
<!-- Dropdowns -->
<ul class="dropdowns">
<li>
<div class="dropdown_item">
<div class="dropdown_item_title">Description :</div>
<div class="dropdown_item_text">
<p>{{ room.description }}</p>
</div>
</div>
</li>
<li>
<div class="dropdown_item">
<div class="dropdown_item_title">Extra Contact Information :</div>
<div class="dropdown_item_text">
<p>{{ room.other_contact_number }}</p>
</div>
</div>
</li>
</ul>
</div>

</div>

</div>
</div>
</div>
</div>

<!-- Course Sidebar -->
</div>
</div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'mastrooms/plugins/parallax-js-master/parallax.min.js '%}"></script>
<script src="{% static 'mastrooms/plugins/easing/easing.js' %}"></script>
<script src="{% static 'mastrooms/plugins/colorbox/jquery.colorbox-min.js '%}"></script>
<script src="{% static 'mastrooms/js/course.js '%}"></script>
{% endblock %}